.logo {
    height: 100px;
    width: 100px;
}

.link-nav {
    color: #ffed0d
}


#nav-list {
    display: inline-flex;
    align-items: flex-start;
    padding-left: 10%;
    padding-top: 5%;
}

.navbar {
    background-color: #820ce8
}

