.catalog-center {
  min-width: 500px;
  background-color: white;
  border-radius: 10px;
}

.catalog-center h3 {
  text-align: center;
}

.content-table {
  border-collapse: collapse;
  position: relative;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 500px;
}

.table-header {
  background-color: #820ce8;
  color:  yellow;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.edit-button {
  width: 90%;
  height: 50px;
  margin-bottom: 5px;
  border: 1px solid;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
}

.table-text {
  
  font-weight: bold;
  font-size: medium;
}


.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.add-div{
  padding-right: 3rem;
  padding-bottom: 8rem;
}

#add-btn {
  color: black;
  background-color: yellow;
  
}