
.login-button {
  background: #820ce8;
}

.text-field {
  padding: 15px;
  margin: 10px;
}

.card {
  padding: 1rem;
  width: 22rem;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}